.jumbotron{
    background-color: #1ECBF4;
    color: #fff;
    padding: 100px 80px;
}
.container-fluid{
    padding: 60px 50px;
}

.bg-grey, footer{
    background-color: rgb(220, 231, 231);
}

.logo{
    font-size: 200px;  
    color:  #1ECBF4;
}

.logosmall{
    color:  #1ECBF4;
    font-size: 50px;
}

.thumbnail{
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img{
    margin-bottom: 20px;
}

.carousel-control.right, .carousel-control.left{
    background-image: none;
    color: #1ECBF4;
    margin-bottom: 40px;
}

.carousel-indicators li{
    border-color: #1ECBF4;
}

.carousel-indicators li.active{
   background-color: #1ECBF4;
}


.item{
  
    margin: 20px 0 65px 0;
}

.item h3{
    font-weight: 400;
}

.segment h4{
    color: white;
    font-size: 20px;
    
}

.segments{
    transition: box-shadow 0.5s !important;
}

.segments:hover{
    box-shadow: 5px 0px 40px rgba(0,0,0,.2) !important;
}

.primary:hover{
    background-color: blue !important;
}

.navbar{
    margin-bottom: 0;
    background-color: #1ECBF4;
    z-index: 9999;
    border: 0;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: roboto, sans-serif;
}

.navbar li a, .navbar-brand{
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a{
    color: #1ECBF4 !important;
    background-color: #fff !important;
}

.navbar-default, .navbar-toggle{
    border-color: transparent;
    color: #fff !important;
}

#backtop {
    position: fixed;
    left:auto;right: 20px;top:auto;bottom: 20px;
    outline: none;
    overflow:hidden;
    color:#fff;
    text-align:center;
    background-color:rgba(49,79,96,0.84);
    height:40px;
    width:40px;
    line-height:40px;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    transition:all 0.3s linear;
    z-index:999999;

    opacity:1;
    display:none;
}
#backtop:hover {
    background-color:#27CFC3;
}
#backtop.mcOut {
    opacity:0;
}

@media screen and (max-width: 768px)
{
    .col-sm-4{
        text-align: center;
        margin: 0 30px;
    }
    
    .mrbottom{
        margin-bottom: 30px;
    }

    button{
        margin-top: 20px;
    }

    #lienhe{
        margin-top: 30px;
    }
}